.fellowship-social-media-div {
  margin: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.fellowship-social-media-div .title {
  font-size: 1.3rem;
  text-align: center;
}
.fellowship-social-media-div-2 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fellowship-social-media-div a {
  text-decoration: inherit;
  color: inherit;
  text-align: center;
  padding: 0.7rem 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 0.5s;
}
.fellowship-social-media-div a:hover {
  filter: grayscale(0%);
}
.fellowship-social-media-div a:active {
  transform: scale(0.95);
}
.fellowship-social-media-div .facebook {
  color: white;
  background-color: #3c5898;
}
.fellowship-social-media-div .linkedin {
  color: white;
  background-color: #0077b5;
}
.fellowship-social-media-div .youtube {
  color: white;
  background-color: #ff0000;
}
.fellowship-social-media-div .pinterest {
  color: white;
  background-color: #b7081b;
}
.fellowship-social-media-div .icon {
  font-size: 1.7rem;
}
.fellowship-social-media-div .followers {
  margin-top: 0.5rem;
}
.fellowship-social-media-div .fans {
  margin-top: 0.5rem;
  font-size: 0.7rem;
}
@media (min-width: 667px) {
  .fellowship-social-media-div-2 {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    /* width: full; */
  }
  .fellowship-social-media-div a {
    text-align: center;
    padding: 0.7rem 2rem;
    width: 33%;
  }
}
@media (min-width: 1024px) {
  .fellowship-social-media-div {
    margin: 30px 160px;
  }
}
