<header class="bg-[white] z-50">
  <nav>
    <div class="md:hidden">
      <div class="px-2 py-3">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <div>
              <img
                src="/public/images/archdune-logo-1.png"
                alt="archdune logo"
                class="w-[4rem]"
              />
            </div>
            <div class="font-medium text-lg tracking-widest">ArchDune</div>
          </div>
          <div>
            <button
              class="menu-close-button-of-navbar-in-small-screen hidden text-4xl hover:scale-105 active:scale-95"
            >
              <i class="fa-xmark fa-solid"></i>
            </button>
            <button
              class="menu-button-of-navbar-in-small-screen text-4xl hover:scale-105 active:scale-95"
            >
              <i class="fa-bars fa-solid"></i>
            </button>
          </div>
        </div>
      </div>
      <div
        class="menulist-of-navbar-in-smallscreen mt-1 border-t-[1px] border-t-[black] transition-all duration-[0.7s] overflow-hidden border-b-[0px] border-b-[black] h-0"
      >
        <ul>
          <li>
            <a
              class="py-3 px-4 block hover:bg-[#505050] hover:text-[white]"
              href="/"
              >Home</a
            >
          </li>
          <li>
            <a
              class="py-3 px-4 block hover:bg-[#505050] hover:text-[white]"
              href="/projects"
              >Project</a
            >
          </li>
          <li>
            <div class="block hover:bg-[#505050] hover:text-[white]">
              <div class="py-3 px-4">
                Learn<img
                  src="/images/images-1/caret-down-solid-black.svg"
                  alt=""
                  class="inline-block w-[0.65rem] ml-2"
                />
              </div>
            </div>
          </li>
          <li>
            <a
              class="py-3 px-4 block hover:bg-[#505050] hover:text-[white]"
              href="/competition"
              >Competition</a
            >
          </li>
          <li>
            <a
              class="py-3 px-4 block hover:bg-[#505050] hover:text-[white]"
              href="/fellowship"
              >Fellowship</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="hidden md:block">
      <div>
        <div class="mx-auto max-w-[100rem] mt-3 px-3">
          <div class="flex justify-between">
            <div>
              <span
                ><i class="fa-regular fa-envelope"></i
                ><a
                  href="mailto:contact@archdune.com"
                  class="ml-2 hover:text-[#db7c00] transition-all duration-300"
                  >contact@archdune.com</a
                ></span
              ><span class="mx-2">|</span
              ><span
                ><i class="fa-solid fa-phone"></i
                ><a
                  href="tel:+8801716728989"
                  class="ml-2 hover:text-[#db7c00] transition-all duration-300"
                  >+880 1716-728989</a
                ></span
              ><span class="mx-2">|</span
              ><span
                ><i class="fa-regular fa-closed-captioning"></i
                ><a
                  href="/"
                  class="ml-2 hover:text-[#db7c00] transition-all duration-300"
                  >Submit</a
                ></span
              >
            </div>
            <div>
              <a href="/"
                ><i
                  class="fa-brands fa-facebook text-2xl text-[#6E6E6E] hover:scale-[1.1] hover:text-[#DB7C00] transition-all duration-300"
                ></i></a
              ><a href="/" class="ml-4"
                ><i
                  class="fa-brands fa-instagram text-2xl text-[#6E6E6E] hover:scale-[1.1] hover:text-[#DB7C00] transition-all duration-300"
                ></i></a
              ><a href="/" class="ml-4"
                ><i
                  class="fa-brands fa-pinterest text-2xl text-[#6E6E6E] hover:scale-[1.1] hover:text-[#DB7C00] transition-all duration-300"
                ></i></a
              ><a href="/" class="ml-4"
                ><i
                  class="fa-brands fa-youtube text-2xl text-[#6E6E6E] hover:scale-[1.1] hover:text-[#DB7C00] transition-all duration-300"
                ></i></a
              ><a href="/" class="ml-4"
                ><i
                  class="fa-brands fa-linkedin text-2xl text-[#6E6E6E] hover:scale-[1.1] hover:text-[#DB7C00] transition-all duration-300"
                ></i
              ></a>
            </div>
          </div>
          <div class="mt-3 flex justify-between items-center">
            <div>
              <img
                src="./../public/images/archdune-logo-1.png"
                alt=""
                class="w-[5rem] inline-block"
              /><span class="text-lg font-medium">ArchDune</span>
            </div>
            <div class="flex gap-9 pt-5">
              <a href="/" class="home-page-link-of-big-screen-navbar"
                ><div
                  class="h-[3rem] w-[5rem] flex flex-col justify-between items-center"
                >
                  <div
                    class="transition-all duration-200 home-page-link-text-of-big-screen-navbar"
                  >
                    Home
                  </div>
                  <div class="w-full">
                    <hr
                      class="home-page-link-hr-of-big-screen-navbar border-[3px] border-[#f86d1c] transition-all duration-500 w-0 opacity-0"
                    />
                  </div></div></a
              ><a
                href="/projects"
                class="projects-page-link-of-big-screen-navbar"
                ><div
                  class="h-[3rem] w-[5rem] flex flex-col justify-between items-center"
                >
                  <div class="projects-page-link-text-of-big-screen-navbar">
                    Projects
                  </div>
                  <div class="w-full">
                    <hr
                      class="projects-page-link-hr-of-big-screen-navbar border-[3px] border-[#f86d1c] transition-all duration-500 w-0 opacity-0"
                    />
                  </div></div
              ></a>
              <div
                class="special-link-of-learn-page-in-big-screen-navbar relative"
              >
                <div
                  class="h-[3rem] w-[5rem] flex flex-col justify-between items-center"
                >
                  <div
                    class="text-of-special-link-of-learn-page-in-big-screen-navbar transition-all duration-200"
                  >
                    Learn
                  </div>
                  <div class="w-full">
                    <hr
                      class="hr-of-special-link-of-learn-page-in-big-screen-navbar border-[3px] border-[#f86d1c] transition-all duration-500 w-0 opacity-0"
                    />
                  </div>
                </div>
                <div
                  class="sub-links-of-special-link-of-learn-page-in-big-screen-navbar absolute top-[3.9rem] z-[2] bg-[white] w-fit text-nowrap transition-all duration-300 overflow-hidden border-[1px] border-[gray] rounded-lg h-0 opacity-0"
                >
                  <a
                    class="block text-sm px-3 py-2 hover:bg-[#505050] hover:text-[white]"
                    href="/live-sessions"
                    >Join Live Sessions</a
                  ><a
                    class="block text-sm px-3 py-2 hover:bg-[#505050] hover:text-[white]"
                    href="/recorded-class"
                    >Buy Recorded Class</a
                  >
                </div>
              </div>
              <a
                href="/competition"
                class="competition-page-link-of-big-screen-navbar"
                ><div
                  class="h-[3rem] w-[5rem] flex flex-col justify-between items-center"
                >
                  <div class="competition-page-link-text-of-big-screen-navbar">
                    Competition
                  </div>
                  <div class="w-full">
                    <hr
                      class="competition-page-link-hr-of-big-screen-navbar border-[3px] border-[#f86d1c] transition-all duration-500 w-0 opacity-0"
                    />
                  </div></div></a
              ><a
                href="/fellowship"
                class="fellowship-page-link-of-big-screen-navbar"
                ><div
                  class="h-[3rem] w-[5rem] flex flex-col justify-between items-center"
                >
                  <div class="fellowship-page-link-text-of-big-screen-navbar">
                    Fellowship
                  </div>
                  <div class="w-full">
                    <hr
                      class="fellowship-page-link-hr-of-big-screen-navbar border-[3px] border-[#f86d1c] transition-all duration-500 w-0 opacity-0"
                    />
                  </div></div
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
