.font-bold {
  font-weight: bold;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.bg-red {
  background-color: red;
}
.margin-0-auto {
  margin: 0 auto;
}
.hover-scale-1-1:hover {
  transform: scale(1.1);
}
.transition-0-5s-ease {
  transition: all 0.5s ease;
}
.w-full {
  width: 100%;
}
@media (min-width: 1024px) {
  .lg-w-full {
    width: 100%;
  }
  .lg-max-w-1580px {
    max-width: 1580px;
  }
  .lg-width-70 {
    width: 70% !important;
  }
}
