.photography-head {
  background-color: #ddd;
}

.photography-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0;
}

.photography-title h2 {
  font-size: 3.3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.photography-title p {
  font-family: Aktiv-Grotesk-W04-Thin;
  font-weight: 600;
  /* color: #fff; */
  text-align: center;
}

.photography-button-filter {
  display: flex;
  gap: 10px;
  margin: 1%;
}

.photography-button-filter button {
  display: flex;
  width: auto;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
  background: none;
  border: 1px solid #cecdcd;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.photography-button-filter button:hover .gallery-img-306 {
  transform: scale(1.1);
}

.photography-button-filter button:hover {
  background-color: #cecdcd85;
}

.photography-button-filter button.active-btn {
  background-color: #cecdcd85;
}

.photography-button-filter button span {
  padding: 0 10px;
}

.gallery-img-306 {
  width: 40px;
  height: 100%;
  /* border-radius: 50%; */
  object-fit: cover;
  background-position: center center;
  overflow: hidden;
  transition: 0.3s;
}

.filterabol-card {
  margin: 0 1%;
}

.s-c-img-fil {
  position: relative;
}

.image-title {
  /* visibility: hidden;
  display: none; */
  position: absolute;
  color: aliceblue;
  /* background-color: #3633338e; */
  background-size: cover;
  /* width: 100%;
  height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  margin-left: -300%;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.images {
  max-width: 95%;
  gap: 15px;
  columns: 3 340px;
  margin-bottom: 15px;
}
.images .card {
  /* display: flex; */
  margin-bottom: 15px;
  list-style-type: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.images .card img {
  width: 100%;
  z-index: 2;
  position: relative;
}

.cardHover {
  position: absolute;
  z-index: 2;
  bottom: -90px;
  width: 100%;
  padding: 12px 15px;
  background: linear-gradient(#00000003, #000);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

.images .card:hover .cardHover {
  bottom: 0px;
}

.cardHoverButtomUser {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cardHoverButtomUser img {
  width: 45px !important;
  height: 45px;
  border-radius: 30px;
  object-fit: cover;
}

.cardHoverButtomUser a {
  text-decoration: none;
  color: #cccccc;
}

.cardHoverButtomLick button {
  background: rgb(2, 101, 158);
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 15px;
  cursor: pointer;
}

.lightbox {
  width: 100%;
  height: 100vh;
  background-color: #1d1d1d;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  overflow: hidden;
}

.lightWepper {
  padding: 0 10px;
  display: flex;
}

.lightboxLeft {
  flex: 80%;
  background: #202020;
  position: relative;
}

.lightboxLeftImageContainer {
  background: #7a3232;
  padding: 0 4rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lightboxLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lightboxRight {
  flex: 20%;
  color: #fff;
}

.lightboxLeftPara {
  position: absolute;
  bottom: 0;
  z-index: 100;
}

@media screen and (max-width: 900px) {
  .photography-title h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .photography-title h2 {
    font-size: 2rem;
  }
}
