.banner-image-div {
}
.view-more-button-div {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.view-more-button {
  background-color: #ffce55;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
}
.banner-image-global {
  transition: all 0.5s;
}
.view-more-button:active {
  transform: scale(0.95);
}
.banner-image-div:hover {
  .banner-image-global {
    /* opacity: 0.5; */
    filter: brightness(0.6);
  }

  .view-more-button-div {
    opacity: 1;
    pointer-events: all;
  }
}
@media (min-width: 768px) {
  .view-more-button {
    font-size: 1.2rem;
    padding: 0.5rem 3rem;
  }
}
