.banner-image-div {
}
.banner-image-div-main {
}
.view-more-button-div {
  text-align: center;
  position: absolute;
  left: 13.5%;
  top: 73%;
  transition: all 0.5s;
}

.view-more-button {
  font-size: 0.5rem;
  background-color: #ffce55;
  padding: 0.2rem 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
}
.view-more-button:hover {
  box-shadow: 2px 2px 5px black;
}
.banner-image-global {
  transition: all 0.5s;
}
.view-more-button:active {
  transform: scale(0.95);
}
.banner-image-div:hover {
  .banner-image-global {
    /* opacity: 0.5; */
    /* filter: brightness(0.6); */
  }

  .view-more-button-div {
    opacity: 1;
    pointer-events: all;
  }
}
@media (min-width: 768px) {
  .view-more-button-div {
    left: 13.5%;
    top: 75%;
  }
  .view-more-button {
    font-size: 1.2rem;
    padding: 0.5rem 3rem;
  }
}
